@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 12px;
    font-family: 'Kumbh Sans', sans-serif;
    font-weight: 400;
}
body {
    background: linear-gradient(hsl(273, 75%, 66%) 20%, hsl(240, 73%, 65%) 100%);
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .box {
        background-color: hsl(0, 0%, 100%);
        border-radius: 30px;
        width: 365px;
        height: 70vh;
        margin: 21vh auto 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        .box__svg-mobile1 {
            width: 240px;
            height: 240px;
            position: absolute;
            bottom: 65vh;
        }
        .box__svg-mobile2 {
            position: absolute;
            bottom: 65vh;
        }
        .box__svg-desktop1 {
            display: none;
        }
        .box__svg-desktop2 {
            display: none;
        }
        .box__article {
            padding: 30% 0 0 0;
            height: 100%;
            width: 88%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            .box__text-header {
                font-size: 2.4rem;
                text-align: center;
                color: hsl(240, 11%, 16%);
            }
            .box__text-content {
                font-size: 0.9rem;
                cursor: pointer;
                hr {
                    color: hsl(240, 5%, 91%);
                    padding: 0 5%;
                }
                input {
                    display: none;
                }
                .box__question {
                    font-weight: 400;
                    color: hsl(237, 12%, 33%);
                }
                .box__arrow {
                    float: right;
                    margin: 6px 6px;
                }
                .box__answer {
                    display: none;
                    color: hsl(240, 6%, 50%);
                    font-size: 1rem;
                    padding: 5% 0;
                }
            }
        }
    }
}
/*
@media (max-width: 900px) {
    //do Smth
    body {
        .box__svg-desktop1 {
            display: none;
        }
        .box__svg-desktop2 {
            display: none;
        }
    }
}
@media (min-width: 1000px) {
    //do Smth
    body {
        .box {
            flex-direction: row;
            width: 1200px;
            .box__svg-mobile1 {
                display: none;
            }
            .box__svg-mobile2 {
                display: none;
            }
            .box__svg-desktop2 {
                display: none;
            }
            .box__article {
                padding: 0;
            }
        }

    }
}*/
